{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
    {% if job_postings %}
        <h2>Mis Ofertas de Trabajo</h2>
        {% for jobposting in job_postings %}
            <div>
                <h3>{{ jobposting.job_title }}</h3>
                <p><strong>ID:</strong> {{ jobposting.id }}</p>
                <p><strong>Descripción:</strong> {{ jobposting.job_description }}</p>
                <p><strong>Nombre de la Empresa:</strong> {{ jobposting.company_name }}</p>
                <p><strong>Ubicación:</strong> {{ jobposting.location }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>No tienes ofertas de trabajo publicadas.</p>
    {% endif %}
{% else %}
    <h1>Necesitas iniciar sesión para ver esta página</h1>
    <p>¿Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia sesión</a></p>
    <p>¿No tienes una cuenta? <a href="{% url 'register' %}">Regístrate</a></p>
{% endif %}

{% endblock content %}
