{% extends "base.html" %}

{% block content %}
<div class="col-md-6 offset-md-3">
    <h1>Register</h1>
    <form method="POST" action="">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ form.non_field_errors }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}

        {% for field in form %}
            <div class="mb-3">
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-secondary">Register</button>
    </form>
</div>
<div class="col-md-6 offset-md-3">
    <br/>
    <p>You already have an account? <a href="{% url 'login' %}">Login</a></p>
</div>

{% endblock %}
